<template>
  <div class="container">
    <h1>Registration</h1>
    <form @submit.prevent="submit" v-if="!success">
      <div class="alert alert-danger" v-if="error">{{ error }}</div>
      <div class="form-group">
        <p>Name:</p>
        <input type="text" class="form-control" v-model="form.name">
      </div>
      <div class="form-group">
        <p>E-mail:</p>
        <input type="text" class="form-control" v-model="form.email">
      </div>
      <div class="form-group">
        <p>Password:</p>
        <input type="text" class="form-control" v-model="form.password">
      </div>
      <div class="form-group">
        <p>Password confirm:</p>
        <input type="text" class="form-control" v-model="form.password_confirmation">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" :disabled="process">Registration</button>
      </div>
    </form>
    <div class="alert alert-info" v-else>Вы успешно зарегистрированы</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      process: false,
      success: false,
      error: null,
      form: {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
      },
    };
  },
  methods: {
    async submit() {
      this.process = true;
      try {
        await this.$axios.post('/api/registration', this.form);
        this.process = false;
        this.success = true;
        this.error = null;
      } catch (e) {
        if (e.response.status === 422) {
          this.error = e.response.data.message;
        } else {
          this.error = 'Системная ошибка, попробуйте позже';
        }
        this.process = false;
      }
    },
  },
}
</script>
