<template>
    <div class="re">
        <h1>Registration</h1>
        <form @submit.prevent="submit" v-if="!success">
            <div v-if="error">{{ error }}</div>
            <div>
                <p>Name:</p>
                <input type="text" v-model="form.name">
            </div>
            <div>
                <p>E-mail:</p>
                <input type="text" v-model="form.email">
            </div>
            <div>
                <p>Password:</p>
                <input type="text" v-model="form.password">
            </div>
            <div>
                <p>Password confirm:</p>
                <input type="text" v-model="form.password_confirmation">
            </div>
            <div>
                <button type="submit" :disabled="process">Registration</button>
            </div>
        </form>
        <div v-else>Вы успешно зарегистрированы</div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            process: false,
            success: false,
            error: null,
            form: {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
            },
        };
    },
    methods: {
        async submit(){
            this.process = true;
            try{
                await this.$axios.post('/api/registration', this.form);
                this.process = false;
                this.success = true;
                this.error = null;
            } catch (e) {
                if (e.response.status === 422) {
                    this.error = 'Некорректно отправлена форма';
                } else {
                    this.error = 'Системная ошибка, попробуйте позже';
                }
                this.process = false;
            }
        },
    },
}
</script>
